/*****Header CSS******/
#homepage {
  background: url("/images/banner.SVG") no-repeat center;
}

@media (max-width: 576px) {

  #homepage {
    background: #DBDCDF;
  }
}

#loginpage {
  background: url("/images/login_background.SVG") no-repeat center;
}

#applypage {
  background: url("/images/home_page_background.SVG") no-repeat left top;
}